# https://clang.llvm.org/docs/ClangFormatStyleOptions.html

Language: Cpp
Standard: Latest
BasedOnStyle: LLVM

AlignEscapedNewlines: DontAlign
AlignTrailingComments: false
AllowShortFunctionsOnASingleLine: None
BreakStringLiterals: false
ColumnLimit: 120
IncludeCategories:
  - Regex: '<.+>'
    Priority: 1
  - Regex: '.*'
    Priority: 2
IndentWidth: 4
KeepEmptyLines:
    AtStartOfBlock: false
    AtStartOfFile: false
PointerAlignment: Left
